/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Fondo con formas abstractas */
body {
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor del formulario */
form#registroForm {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Título */
h2 {
    margin-bottom: 1.5rem;
    color: #000000;
    font-weight: 500;
    text-align: left;
}

/* Etiquetas y campos */
label {
    display: block;
    font-weight: 400;
    color: #000000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #00b4d8;
    outline: none;
}

/* Botón */
button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: revert;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #023e8a;
}

/* Mensaje */
#mensaje {
    margin-top: 1rem;
    text-align: center;
    color: red;
}